.flash {
    width: 100%;
    height: auto;
    background-color: #ff8f8f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    z-index: 99999999;
    top: -100%;
    left: 0;
}
.appear {
    -webkit-animation: appear 0.5s forwards; 
    animation: appear 0.5s forwards;
}
.disAppear {
    -webkit-animation: disAppear 0.7s forwards; 
    animation: disAppear 0.7s forwards;
}
.msg {
    color: #eee;
    font-weight: 400;
    font-size: 20px;
    user-select: none;
}

@keyframes appear {
    from {
        top: -100%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes disAppear {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -100%;
        opacity: 0;
    }
}