.container {
    width: 350px;
    max-width: 80%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    background-color: #555;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container::-webkit-scrollbar {
    width: 7px;
}
.container::-webkit-scrollbar-track {
    background: #313131;
}
.container::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
    background: #212121;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlist {
    width: 100%;
    height: auto;
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #999;
    cursor: pointer;
}
.playlist:hover {
    background-color: #777;
}
.img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    -moz-box-shadow: 0px 0px 10px #222;
}
.noSongsImg {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}
.playlist:last-child {
    border: none;
}
.data {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.name {
    color: #eee;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 0px;
}
.details {
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
}
.title {
    font-size: 20px;
    color: #eee;
    font-weight: 700;
    padding: 5px 0px;
    margin-bottom: 10px;
}
.authText {
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    padding: 10px 0px;
}
.here {
    text-decoration: underline;
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 5px;
}
.noPlaylists {
    width: 100%;
    height: auto;
    padding: 10px;
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}