.noLikes {
    width: 100%;
    height: 150px;
    color: #aaa;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .noLikes {
        width: 100%;
        height: 100px;
        color: #aaa;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}