.container {
    height: 200px;
    padding: 5px;
    user-select: none;
}
.SliderSong {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.SliderSongModal {
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 500ms ease-out;
    user-select: none;
}
.SliderSong:hover .SliderSongModal {
    opacity: 1;
}
.SliderSongModal * {
    user-select: none;
    pointer-events: none;
}
.playIcon {
    width: 15px; 
    height: 15px;
}
.songData {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
.songName {
    color: #eee;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 0px;
}
.artistName {
    color: #dadada;
    font-size: 11px;
    font-weight: 500;
}
.mobContainer {
    height: auto;
    padding: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
}
.mobImg {
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 10px;
}
.mobName {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .container {
        height: auto;
    }
    .songData {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
    }
    .songName {
        color: #eee;
        font-size: 13px;
        font-weight: 500;
        padding: 3px 0px;
    }
    .artistName {
        color: #dadada;
        font-size: 9px;
        font-weight: 500;
    }
    .playIcon {
        width: 9px; 
        height: 9px;
        margin: 0px 7px;
    }
}